.main {
    margin-top: .9rem;
    margin-bottom: 2rem;
    padding-top: .9rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
}

.question-block {
    padding: 0rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.option-data {
    display: flex;
    text-align: center;
}

.option-data .number {
    width: 2rem;
    height: 1.4rem;
}

.option-data .progress {
    flex-grow: 1;
    margin: .2rem;
}

.refresh {
    width: 16rem;
    margin-left: calc(50% - 8rem);
    margin-top:1rem;
}

@media (max-width: 768px){
    .main {
      margin-top: 0px;
      margin-bottom: 0px;
    }
}

.jumbotron {
  padding: 1rem 1rem;
  background: #ffffff;
  margin-bottom: 1rem;
}

.jumbotron .display-4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.jumbotron .lead{
    font-size: 1rem;
}

.jumbotron p {
    margin-bottom: .4rem;
}